.main{
	max-width: 1500px;
	margin:20px auto;
	margin-top: 80px;
	position: relative;
	height: 456px;
	overflow: hidden;
}
img{
	border: none;
}
.main .bigtop{
	width: 90%;
	/*margin-top:-200px;*/
}
.topmargin{
	transition: all 1s;
}
.main .bigtop .text{
	float: left;
	width: 35%;
	padding-bottom: 10px;
	padding-top: 20px;
	margin-right: 2%;
	max-height:465px;
	overflow-y:scroll;
}
.main .text::-webkit-scrollbar{
	width: 5px;
}
.main .text::-webkit-scrollbar-thumb{
	background: #999999;
	border-radius:5px;
}
.main .text::-webkit-scrollbar-button{
	background: none;
	height: 9px;
} 
.main .text p{
	margin-bottom: 20px;
	font-size: 1.8rem;
}

.main .text span{
	display: inline-block;
	text-indent: 40px;
	font-size: 16px;
	line-height: 40px;
	letter-spacing: 0.2rem;
	font-family: "微软雅黑";
	color: #555555;
	
}
.main .one{
	float: left;
	width:55%;
	/*margin-top:50px;*/
	height: 456px;
	overflow: hidden;
	position: relative;
}
.main ol{
	
}
.main ol li:nth-child(1){
	position: absolute;
	top:10%;
	right: 0;
	cursor: pointer;
}
.main ol li:nth-child(2){
	position: absolute;
	bottom:10%;
	right: 0;
	cursor: pointer;
}








footer{
	margin-top: 100px;
}


@media screen and (max-width: 1200px) {
	body{
		padding-bottom: 200px;
	}
	.main{
		max-width: 1500px;
		margin:20px auto;
		margin-top:20px;
		position: relative;
		height:356px;
		overflow:  inherit;
		padding-bottom:100px;
	}
	.main .bigtop{
		width: 100%;
		
	}
	.bigbottom{
		margin-bottom: 100px;
	}
	.main .bigtop .text{
		float: none;
		width: 80%;
		margin-left: 5%;
		padding-bottom: 10px;
		padding-top: 20px;
		margin-right:0;
	}
	.main .bigtop .text{
		padding-bottom: 10px;
		padding-top: 20px;
		margin-right: 0;
		max-height:500px;
		overflow-y:inherit;
	}
	.main .text span::-webkit-scrollbar{
		width: 5px;
	}
	.main .text span::-webkit-scrollbar-thumb{
		background: #999999;
		border-radius:5px;
	}
	.main .text span::-webkit-scrollbar-button{
		background: none;
		height: 9px;
	} 
	.main .text p{
		margin-bottom: 20px;
		font-size: 1.8rem;
	}
	
	.main .text span{
		display: inline-block;
		text-indent: 30px;
		font-size:12px;
		line-height:20px;
		letter-spacing: 0.2rem;
		font-family: "微软雅黑";
		color: #555555;
		overflow-y:inherit;
	}
	.main .one{
		float: none;
		width:80%;
		/*margin-top:50px;*/
		height: 216px;
		overflow: hidden;
		position: relative;
	}
	.main ol{
		
	}
	.main ol li:nth-child(1){
		position: fixed;
		top:30%;
		right: 0;
		cursor: pointer;
		width: 50px;	
	}
	.main ol li:nth-child(2){
		position: fixed;
		bottom:30%;
		right: 0;
		cursor: pointer;
		width: 50px;
	}
		footer{
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99999;
		background: white;
		margin-bottom: 0;
	}
	body{
		padding-bottom:0;
	}
}


/*@media screen and (max-width: 768px) {
	.main .switch{
		position: relative;
		width: 80%;
		height:170px;
		overflow: hidden;
	}
	.main .switch  .shuffling{
		width: 100%;
		height: 170px;
		overflow: hidden;
		transition: all 1s;
	}
	.main .switch  .shuffling li{
		width: 100%;
		height: 100%;
	}
	.main .switch  .shuffling li img{
		width: 100%;
		height: 100%;
	}
	.main .switch ol{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		max-height: 170px;
	}
	.main .switch  ol li{
		height: 50%;
	}
	.main .switch  ol li img{
		cursor: pointer;
	}
	.main .switch  ol li:nth-child(1) img{
		margin-top: 80%;
		width: 30px;
	}
	.main .switch  ol li:nth-child(2) img{
		margin-top:150%;
		width: 30px;
	}
	.main .switch .one .cli li{
		margin: 0 10px;
		float: left;
		width:5px;
		height:5px;
		border: 5px solid white;
		cursor: pointer;
		display: none;
	}
	.main .switch .two .cli li{
		margin: 0 10px;
		float: left;
		width:5px;
		height:5px;
		border: 5px solid white;
		cursor: pointer;
		display: none;
	}
		.main .text span{
			display: inline-block;
			text-indent: 40px;
			font-size: 12px;
			line-height: 40px;
			letter-spacing: 0.2rem;
			font-family: "微软雅黑";
			color: #555555;
			max-height: 450px;
			overflow:initial;
		}
}*/
.swiper-container{
	margin-left:20px;
}
.swiper-pagination-bullet{
	background: black;
	opacity: 0.6;
	width: 20px;
	height:20px;
}
.swiper-pagination-bullet-active{
	background: white;
	opacity: 1;
}
/*.swiper-pagination{
	display: block;
	z-index: 99999;
}*/
